{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="consolas-font"> Conferences </h1>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row consolas-font">
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> ACM Special Interest Group on Artificial Intelligence (ACM SIGIA) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> Association for the Advancement of Artificial Intelligence (AAAI) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> International Joint Conferences on Artificial Intelligence (IJCAI) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> Computer Vision Foundation (CVF) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> Computer Vision and Pattern Recognition Conference (CVPR) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> European Computer Vision Association (ECVA) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> International Conference on Computer Vision (ICCV) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> ACM SIG-Knowledge Discovery and Data Mining (ACM SIGKDD) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> International Conference on Learning Representation (ICLR) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> International Conference on Machine Learning (ICML) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> Neural Information Processing Systems (NeurIPS) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> Association for Computational Linguistics (ACL) </div></div>
        <div class="col-md-3 border border-dark rounded pt-4 pb-4 pr-3 pl-3 m-3 conf-content"><div class="color-white"> Special Interest Group on Information Retrieval (SIGIR) </div></div>
    </div>
</div>

{% endblock %}